.container_add {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  h1{
    text-align: center;
  }
  .erreur, .valide{
    color: white;
    background-color: red;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    p{
      text-align: center;
    }
  }
  .container_inputFile {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    .valide{
      background-color: green;
    }
    #myFile{
      display: none;
    }
    .inputFile {
      img {
        margin: auto;
      }

      border-radius: 50px;
      background-color: $colorSecondary;
      width: 100px;
      height: 100px;
      display: flex;
    }

    button {
      margin-top: 10px;
      border-radius: 50px;
      background-color: $colorPrimary;
      color: $colorTertiary;
      width: 100px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  >.button{
    font-size: 20px;
    color: $colorTertiary;
    margin: 20px 0;

  }
}
