.container_formulaireInscription{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .erreur{
    color: white;
    background-color: red;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    p{
      text-align: center;
    }
  }
  div.container_input{
    display: flex;
    flex-direction: column;
    input{
      margin:$margin;
    }
  }
  div.container_checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom:$margin;
    .container_checkbox_div{
      display: flex;
      align-items: center;
      margin: 0 $margin;
    }
    a{
      margin: 0 $margin;
    }
  }
  .inscription{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom:$margin;
    a{
      margin: 0 $margin;
    }
    span{
      margin: 0 $margin;
    }
  }
}
